*.BACKUP.*
*.BASE.*
*.CSV
*.DOC
*.DOCX
*.LOCAL.*
*.REMOTE.*
*.TIF
*.TIFF
*.WAV
*.WMV
*.XLSX
*.XML
*.ZIP
*.csv
*.doc
*.docx
*.fla
*.mp3
*.mp4
*.mpg
*.orig
*.pdf
*.pem
*.ppk
*.ppt
*.pptx
*.tif
*.tiff
*.wav
*.wmv
*.xlsx
*.xml
*.zip
*trash*
.DS_Store
.bundle
.sass-cache
.sass-cache
.vscode
Gruntfile.js
_notes/
debug.log
package-lock.json
package.json
pdf.php
ph1.pem
ph1.ppk
phpMyAdmin/
pma/
sim-tools.html
sitemap.xml.gz