@media all and (max-width:900px) {


    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .center11 {
        padding: 0;

    }


    .rec15 {
        display: none;
    }

    #mobileNav {
        position: fixed;
        width: 100%;
        background: white;
        top: 0;
        z-index: 99;
        display: block;
    }

    .fadeBoxM {
        border: 1px solid #0000008f;
        padding: 34px;
        padding-bottom: 21px;
        background: white;
        color: #333;
        min-height: 0px;
        max-width: 25%;
        margin-top: 60px;
        margin-left: 2%;
        box-shadow: -12px 12px 27px 10px #0000005c;
        margin: 60px 30px;
    }


    .fadeBoxM h3 {
        font-size: 40px;
    }

    #cloverfield {
        display: none;
    }

    #cloverfieldMobile {}

    .expand {
        width: unset;
        max-width: 100%;
    }

    .superTabs {

        display: none;
    }



    .notwide {
        display: block;
    }

    #expert {
        display: none;
    }

    #expertMobile {
        display: block;
    }

    #expertMobile .rec15 {
        display: block;
        height: 4px;
    }

    .nowide {
        display: block;
        width: 184px;
        height: 4px;
        background: #3a461a;
        border-radius: 16px;
        margin: auto;
        width: 26%;
        margin-top: -14px;
        margin-bottom: 5px;

    }

    .sbar {
        width: unset;
        transform: scale(1);
        display: none;
    }

    .sbar2 {
        font-size: 10px;
        font-weight: 700;
        display: block;
        padding: 0;
        border: 1px solid #0000008f;
        background: #ffffff5e;
    }

    #topicHeadline {
        font-size: 30px;
        line-height: 0;
        margin-bottom: 43px;
        margin-top: 35px;
    }

    #topicPs {
        font-size: .7em;
        margin-left: 27px;
    }

    #cloudy {
        background: url(clouds.jpg);
        background-size: cover;
        margin-top: -50px;
    }

    .rlightBG {
        min-height: unset;
    }

    .thinking {
        margin: unset;
    }

    .tbullets img {
        height: 12px;
        transform: unset;
        position: relative;
        margin-right: 5px;

    }

    .exboxHeight {
        min-height: unset;
    }



    #buttonGroup {
        display: none;
    }

    #industryListMobile {
        display: block;
    }



    #plantDivMobile {
        padding: 0px;
        background: url(plant3.png);
        background-size: cover;
        min-height: 722px;
    }

    #plantDivMobile h2 {
        font-size: 30px;
    }

    #plantDivMobile h3 {
        font-size: 22px;
        ;
        font-weight: 400;
    }

    #plantDivMobile .rec15 {
        display: block;
        height: 4px;
    }




    #chairDivMobile .rec15 {
        margin: auto;
        width: 60px;
        display: block;
        height: 4px;

    }

    #expertMobile .rec15 {
        display: block;
        height: 4px;
        top: 15px;

    }

    #expertMobile .iconBlock {

        background: white;
        color: #333;
        font-size: 20px;
        padding: 6px;
        border-radius: 9px;
        display: inline-block;
        margin: 12px;
        text-align: left;
        min-height: 50px;
        max-width: 200px;
        min-width: 292px;
        min-height: 28px;
        text-align: center;
        border: 2px solid #333;
        cursor: pointer;

    }

    #expertMobileBox {
        background: white;
        color: #333;
        font-size: 20px;
        padding: 6px;
        border-radius: 9px;
        display: inline-block;
        margin: 12px;
        text-align: left;
        min-height: 50px;
        max-width: 200px;
        min-width: 292px;
        min-height: 28px;
        text-align: center;
        border: 2px solid #333;
        cursor: pointer;
        position: relative;
        ;
        top: -331px;

    }

    #futureProofMobile {
        display: block;
    }

    #futureProofMobile .rec15 {
        width: 83%;
        height: 4px;
        background: #83984B;
        border-radius: 16px;
        display: block;
    }

    #futureProof {
        display: none;
    }

    #futureProofMobile h2 {
        font-size: 34px;
    }

    #expertMobile .iconBlock:hover {

        background: #83984B;
        color: white;

    }

    #hackersMobile {
        display: block;
    }

    #hackers {
        display: none;
    }

    #questions {
        display: none;
    }

    #questionsMobile {
        display: block;
    }

    #theExperts {
        display: none;
    }

    #theExpertsMobile {
        display: block;
    }

    #chairDiv {
        display: none;
    }

    #footer {
        text-align: center;
    }

    #footer div {
        text-align: center;
    }

    #footer p {
        text-align: center;
    }

    .sbar {
        font-size: 11px;
    }


    #plantDiv {
        display: none;
    }

    #buttonGroupMobile {
        display: block;
        width: 22%;
        float: right;
        text-align: center;
        font-size: 19px;
    }

    #mobileBullets {

        display: block;
        margin-top: 35%;
    }

    #plantDivMobile {
        display: block
    }

    #plantDiv {
        display: none
    }

    .mobileHide {
        display: none;
    }

    .lineHeight0 {
        line-height: unset;
    }

    .heroButton {
        padding: 6px 18px;
        margin-left: unset;
        margin-top: unset;
        position: unset;
    }


    .fadeBox {
        border: 1px solid black;
        padding: 12px;
        background: white;
        color: #333;
        min-height: unset;
        margin-top: 0;
        margin-left: 0;
    }

    .gotReal {
        margin: 40px;
        display: block;
        text-align: center;
        max-width: 100%;
        width: unset;
        float: unset;
        color: #333;
    }

    .gotReal {
        margin: 6px;
        width: 200px;
    }

    #always h2 {
        margin-top: 30px;
    }

    #always .rec15 {

        position: relative;
        display: block;
        width: 90px;
        margin: auto;
        margin-top: 8%;
        height: 4px
    }

    #threats {
        display: none;
    }


    #threatsMobile .rec15 {

        position: relative;
        display: block;
        width: 90px;
        margin: auto;
        margin-top: 8%;
        height: 4px
    }

    #threatsMobile h3 {
        font-size: 22px;
        font-weight: 400;
        margin-top: -9%;
    }

    #always button {
        margin-bottom: 8%;
    }

    #chairDivMobile .innerFLEX {
        /* flex: 1 1 50%;
        text-align: center; */
    }

    #main1100 {
        max-width: unset;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;

    }

    .demoButton {
        margin-left: 6%;
        margin-top: -6%
    }

    .mobileCenter {
        text-align: left;
        /* margin: auto; */
        font-size: 40px;
    }

    .h1C {
        max-width: 63%;
    }

    .h2real {
        display: inline-block;
        margin-top: 40px;
        font-size: 48px;
        min-width: unset;
    }


    .footerButtons {
        margin: auto;
        margin-top: 6%;
        margin-left: 0%;
    }

    .mkangTD {
        width: 50%;
        padding: 0 12px;
        background: #83984B;
        margin: 10px;
        color: white;
        border: 10px solid white;
        vertical-align: top;
        padding-bottom: 14px;
    
}


#always {
    display: none;
}

#alwaysMobile {
    display: block;
}

#alwaysMobile .rec15 {
    position: relative;
    display: block;
    width: 90px;
    margin: auto;
    margin-top: 8%;
    height: 4px;
}

.topicBox {
    margin: 0 60px;
    min-height: unset;
    padding: 20px 0;
}

.mobileButtonGroup {
    background: white;
    padding: 13px;
    right: 0%;
    top: 58px;
    padding-right: 13px;
}

.mobileButtonGroup button {
    margin: 20px 0;
}

.flex10 {
    flex: 1 1 100%;
}

.flex20 {
    flex: 1 1 100%;
}

.flex30 {
    flex: 1 1 100%;
}

.flex40 {
    flex: 1 1 100%;
}

.flex50 {
    flex: 1 1 100%;
}

.flex60 {
    flex: 1 1 100%;
}

.flex70 {
    flex: 1 1 100%;
}

.flex80 {
    flex: 1 1 100%;
}

.flex90 {
    flex: 1 1 100%;
}

.flex2 {
    flex: 1 1 100%;
}

.superTabs {
    display: none;
}

#expandMobile{
    display:block;
}
#expand{
    display:none;
}

#towerBG {
    display:none;
}
#towerBGMobile{
    display:block;
    background: url('tower3.png');
    width: 100%;
    min-height: 567px;
    background-size: cover;
    /* background-position-y:0px; */
    background-position: bottom;
}


@media all and (max-width:1350px) {
    .superTabs {
        /* display:none; */
    }

    .tabsUnder1100 {
        display: block;
    }

    #mobileNav {
        /* display:none; */
    }
}